.write{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    .content{
        flex:5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input{
            padding: 10px;
            border: 1px solid teal;
        }
        .editorContainer{
            height: 300px;
            overflow: scroll;
            border: 1px solid teal;
            .editor{
                height: 100%;
                border: none;
        
            }
         
        }
    }
    .menu{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap:20px;

        .item{
            border: 1px solid teal;
            padding: 10px;
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            #file{
                display: none;
            }
            label{
                text-decoration: underline;
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                :first-child{
                cursor: pointer;
                color: teal;
                background: white;
                border: 1px solid teal;
                padding: 3px;
                }
                :last-child{
                    cursor: pointer;
                    color: white;
                    background: teal;
                    border: 1px solid teal;
                    padding: 3px;
                }
            }
            .category{
                display: flex;
                color: teal;
                align-items: center;
                gap: 2px;
            }
        }
    }
}   